@tailwind base;
@tailwind components;
@tailwind utilities;


.key {
  @apply relative w-16 h-16 rounded flex flex-col gap-1 border items-center justify-center bg-slate-200 border-slate-200;
}
.key.key-pointer::after {
  content: "";
  height: 2px;
  @apply absolute rounded left-0 right-0 mx-auto w-4 bg-white bottom-2;
}

.key.key-target {
  @apply bg-green-100 border-green-500;
}

.key.key-right {
  @apply bg-green-500 border-green-500 text-white;
}

.key.key-error {
  @apply bg-red-500 border-red-500 text-white;
}

.key.key-active {
  animation: key-active .2s cubic-bezier(0, 0, 0.2, 1) 1;
}

@keyframes key-active {
  50% {
    transform: scale(1.2);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-o-keyframes key-active {
  25%, 50% {
    transform: scale(1.5);
    opacity: 1;
  }
  75%, 100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-moz-keyframes key-active {
  25%, 50% {
    transform: scale(1.5);
    opacity: 1;
  }
  75%, 100% {
    transform: scale(1);
    opacity: 1;
  }
}
